.nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  /* padding-top: 5rem; */
}

.brand h1 {
  font-size: 2rem;
  color: #0656ec;
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  flex: 1;
  max-width: 300px;
  margin: 0 1rem; /* Adjust margin for spacing */
}

.search input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
}

.search .fa-magnifying-glass {
  color: #007bff;
  margin-left: 5px;
}

.nav button {
  background-color: #f0b215;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #0056b3;
}

.nav .fa-shopping-cart {
  color: #007bff;
  font-size: 24px;
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  padding: 0.5rem;
  border-radius: 5px;
}

.cart svg {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Adjust height for better layout */
  }

  .search {
    width: 100%;
    margin-bottom: 10px;
  }

  .brand h1 {
    font-size: 1.5rem;
  }

  .nav button {
    width: 100px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .nav .fa-shopping-cart {
    font-size: 20px;
  }
}

@media (max-width: 495px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .brand h1 {
    font-size: 1.25rem;
  }

  .search {
    max-width: 70vw;
    margin-bottom: 10px;
  }

  .nav button {
    font-size: 14px;
    max-width: 80px;
    margin-right: 1rem;
  }

  .nav .fa-shopping-cart {
    font-size: 18px;
  }

  .cart {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: auto;
  }

  .brand h1 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .search {
    max-width: 90%;
    margin-bottom: 10px;
  }

  .search input {
    font-size: 0.8rem;
    padding: 5px;
  }

  .nav button {
    font-size: 12px;
    padding: 5px;
    max-width: 80px;
  }

  .nav .fa-shopping-cart {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .cart {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
  }
}
