.product-detail {
    padding: 20px;
    padding-top: 23rem;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-info {
    flex: 1;
    max-width: 500px;
    padding: 20px;
}

.product-info h3 {
    margin-bottom: 20px;
}

.product-info p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .product-detail{
        padding-top: 89rem;
    }
    .hero {
        flex-direction: column;
        padding: 10px;
        margin-bottom: 15rem;
    }

    .product-image {
        max-width: 100%;
        height: auto;
        margin: 0 auto; /* Center the image */
    }

    .product-info {
        padding: 10px;
        max-width: 100%; /* Ensure product-info takes full width */
    }

    .product-info h3 {
        font-size: 24px;
    }

    .product-info p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 10px;
        padding-top: 20px;
    }

    .product-image {
        width: 100%;
        max-width: 300px; /* Adjust the image size for smaller screens */
        height: auto;
        margin: 0 auto; /* Center the image */
    }

    .product-info {
        padding: 10px;
        text-align: center; /* Align text to center for better readability */
        max-width: 100%; /* Ensure product-info takes full width */
        margin-top: 20px; /* Add margin to separate image and details */
    }

    .product-info h3 {
        font-size: 20px;
    }

    .product-info p {
        font-size: 14px;
    }

    .footer {
        padding: 10px;
        margin: 10px 0;
    }
}
